<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis/AccountListProcMapper.xml"/>
        <mapper resource="mybatis/BalanceEnquiryProcMapper.xml"/>
        <mapper resource="mybatis/StatementProcMapper.xml"/>
        <mapper resource="mybatis/AboutInstitutionProcMapper.xml"/>
        <mapper resource="mybatis/ChequeProcMapper.xml"/>
        <mapper resource="mybatis/InternalFundTransferProcMapper.xml"/>
        <mapper resource="mybatis/CustomerDetailProcMapper.xml"/>
        <mapper resource="mybatis/ProductListProcMapper.xml"/>
        <mapper resource="mybatis/VoucherProcMapper.xml"/>
    </mappers>
</configuration>