<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ch.cbsmiddleware.mapper.BalanceEnquiryProcMapper">

    <select id="getBalanceByCustomerCode"
            resultType="com.ch.cbsmiddleware.dto.response.BalanceEnquiryByCustomerCodeResponse"
            statementType="CALLABLE">
        {call Code_balance_enquiry_by_customercode(#{customerCode})}
    </select>

    <select id="getBalanceByAccNumber"
            resultType="com.ch.cbsmiddleware.dto.response.BalanceEnquiryByAccountNumberResponse"
            statementType="CALLABLE">
        {call Code_balance_enquiry_by_accountno(#{accNumber})}
    </select>

</mapper>