<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ch.cbsmiddleware.mapper.VoucherProcMapper">

    <select id="requestVoucher"
            resultType="com.ch.cbsmiddleware.dto.response.VoucherData"
            statementType="CALLABLE"
            parameterType="map">
        {call CODE_Voucher_Request(
                #{service},
                #{mobileNumber},
                #{accountNumber},
                #{paymentAmount},
                #{transactionTimestamp},
                #{clientCommissionAmount},
                #{customerCommissionAmount},
                #{beneficiaryNumber},
                #{remarks},
                #{serviceCode},
                #{serviceType},
                #{transactionId},
                #{bankName}
            )
            }
    </select>


    <select id="reverseVoucher"
            resultType="com.ch.cbsmiddleware.dto.response.VoucherData"
            statementType="CALLABLE">
        {call CODE_voucher_reverse( #{voucherNo} ) }
    </select>



</mapper>